<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168044771-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168044771-1');
</script>

<link href='http://nopasanadaa.com/feed.xml' rel='alternate' type='application/atom+xml'>