---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

.site-title {
  font-family: 'Amatic SC', serif !important;
    font-size: 3rem !important;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Open Sans Condens ed', sans-serif !important;
  font-style: normal !important;
  font-weight: 300 !important;
} 

$sans-serif-font-family: 'Open Sans', sans-serif;

body {
  font-weight: 300 !important;
}

.site-logo-img {
    width: 200px !important;
    height: 200px !important;
}

.entries-grid { grid-template-columns: repeat(auto-fill, minmax(425px, 1fr)) !important; }

@import "so-simple";