---
layout: page
---

{{ content }}

{% assign sorted_tags = site.tags | sort 0 %}

<ul class="taxonomy-index">
  {% for tag in sorted_tags %}
    {% assign tag_name = tag[0] %}
    {% assign tag_count = tag[1].size %}
    <li>
      <a href="#{{ tag_name | slugify }}">
        <strong>{{ tag_name }}</strong> <span class="taxonomy-count">{{ tag_count }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% for tag in sorted_tags %}
  {% assign tag_name = tag[0] %}
  {% assign tag_count = tag[1].size %}
  <section id="{{ tag_name | slugify | downcase }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ tag_name }}</h2>
      <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for entry in tag.last reversed %}
          {% include entry.html %}
        {% endfor %}
      </div>
    <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
